# {{ ansible_managed }}

# Command NRPE
{% if nagios_nrpe_command is defined %}
{% for command in nagios_nrpe_command %}
command[{{ command }}]={{ nagios_nrpe_server_plugins_dir }}/{{ nagios_nrpe_command[command]["script"] | default('check_' + command) }} {{ nagios_nrpe_command[command]["option"] | default() }}
{% endfor %}
{% endif %}
